/* .login{
    text-align: center;
}

.login h3{
    font-size: 50px
}
.login a{
    text-decoration: none;
    color: black;

}

.login form{
    align-items: center;
    margin-left: 30%;
    padding: 10PX 10PX;
}
.login input{
    background-color: red;
    margin-left: 20PX;
} */